@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

*{
  color: white;
  text-decoration: none;
  margin: 0;
  font-family: 'Cinzel', Georgia, serif;
}

body {
  margin: 0;
  background-color: #161b1f; /* black */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



